html {
    box-sizing: border-box;
  }
  
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  body {
      display: flex;
      justify-content: center;
      font-family: 'Montserrat', sans-serif;
  }

  .game {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  .game-field {
      display: grid;
      grid-template-columns: 40% 40% 20%;
      grid-gap: 40px;
  }

  header {
      text-align: center;
      font-size: 18px;
  }

  .heading {
      font-size: 3rem;
  }