html {
    box-sizing: border-box;
  }
  
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  body {
      display: flex;
      justify-content: center;
      font-family: 'Montserrat', sans-serif;
  }

  .game {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  .game-field {
      display: grid;
      grid-template-columns: 40% 40% 20%;
      grid-gap: 40px;
  }

  header {
      text-align: center;
      font-size: 18px;
  }

  .heading {
      font-size: 3rem;
  }

  .tile-container, .player-tile-container {
    display: grid;
    grid-template-rows: 50px 50px 50px 50px;
    grid-template-columns: 50px 50px 50px 50px;
    grid-gap: 25px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .tile {
    background-color: #000a96;
    box-shadow: 0 0 0 1px #0c24ada9 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #c93a12, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    transition: 0.15s;
  }

  .tile:hover, .tile:focus {
    background-color: #fa8500;
    box-shadow: 0 0 0 1px #ffae00 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 10px 0 0 #e62b00, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6);
  }

  .tile:active, .tile.activated {
    box-shadow: 0 0 0 1px #c2bf1c inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
    background-color: #a09e13;
    transform: translateY(10px);
  }

  .info-section {
    text-align: center;
    align-self: center;
    justify-self: center;
  }